{% extends "layout.html" %}

{% block title %}Loveboard Demo{% endblock %}

{% block content %}
	<h1>Loveboard Demo</h1>
	<p>Loveboard is a real time dashboard for likes and +1s. Try it by open <a href="/index.php">Loadboard</a> in a
		separate window and click the like and +1 buttons.
	
	<p><div id="fb-root"></div><fb:like href="http://loveboard.theroadtojoy.at/demo.php" send="false" width="450" show_faces="true" font=""></fb:like>
		
	<p><g:plusone callback="createPlusOne"></g:plusone>
	
{% endblock %}

{% block footerscripts %}
<script>
	function createPlusOne(response) {
		createLove(response.state == 'on' ? '+1' : '-1', response.href);
	}

	function createLove(action, page)
	{
		$.post('ajax.php', { 'action': action, 'page': page, 'user_agent': navigator.userAgent },
			function(data) {
				log(data);
			}
		);
	}

	FB.Event.subscribe('edge.create', function(response) {
		createLove('like', response);
		log('liked');
		log(response);
	});
	FB.Event.subscribe('edge.remove', function(response) {
		createLove('unlike', response);
		log('unlicked');
		log(response);
	})
</script>
{% endblock %}
