{% extends "layout.html" %}

{% block title %}Loveboard Demo{% endblock %}

{% block content %}
	<h1>Loveboard Demo</h1>
	<p>Loveboard is a real time dashboard for likes and +1s. Try it by open <a href="/index.php">Loadboard</a> in a
		separate window and click the like and +1 buttons.
	
	<p><div id="fb-root"></div><fb:like href="http://loveboard.theroadtojoy.at/demo.php" send="false" width="450" show_faces="true" font=""></fb:like>
		
	<p><g:plusone callback="createPlusOne"></g:plusone>
	
{% endblock %}
