{% extends "layout.html" %}

{% block content %}
	<h1>Loveboard</h1>
	<p>Real time dashboard for likes and +1s.</p>
	
	<ul id="loves">
		<li class="header row">
			<ul class="clearfix">
				<li class="id">ID</li>
				<li class="action">Action, Page and User Agent</li>
				<li class="created">Date and Time</li>
			</ul>
		</li>
		{% for like in likes %}
		<li class="row">
			<ul class="clearfix">
				<li class="id">{{ like.id}}</li>
				<li class="action"><strong>{{ like.action }}</strong> {{like.page}}<br>
					<span class="user-agent">{{ like.user_agent}}</span></li>
				<li class="created">{{ like.created_at }}</li>
			</ul>
		</li>
		{% endfor %}
	</ul>

{% endblock %}

{% block footerscripts %}
<script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    // Flash fallback logging - don't include this in production
    WEB_SOCKET_DEBUG = true;

    var pusher = new Pusher('0dcbb48772f95ddd1551');
    var channel = pusher.subscribe('love');
	channel.bind('create', function(data) {
		var row = $('<li />').addClass('row').hide()
				.html('<ul class="clearfix"><li class="id">' + data.id + '</li>'
						+ '<li class="action"><strong>' + data.action + '</strong> ' + data.page + '<br>'
						+ '<span class="user-agent">' + data.user_agent + '</span></li>'
						+ '<li class="created">' + data.created_at + '</li></ul>');
		$('#loves .header').after(row);
		row.addClass('new-row').slideDown(500, function() {
			setTimeout(function() {
				row.removeClass('new-row', 500);
			}, 1500);
		});
      // log(data);
    });
  </script>
{% endblock %}